@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt">
<head>
    <title>LifeMore</title>

    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Life More web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
         addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--// Meta tag Keywords -->
    <!-- css files -->
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="~/css/jquery-ui.css" /> <!-- Date-script-CSS -->
    <link href="~/css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" /> <!-- Time-script-CSS -->
    <!-- //css files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=Convergence" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=ABeeZee:400,400i" rel="stylesheet">
    <!-- //online-fonts -->

    <link rel="stylesheet" href="~/css/Login.css">
    <script src="~/js/AcessarPag.js" type="text/javascript"></script>

    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.mask.js"></script>
</head>
<script type="text/javascript">
    jQuery(function ($) {
        $("#telefone").mask("(99)9 9999-9999", { required: true });
        $("#peso").mask("999.999", { required: true});
        $("#altura").mask("9.99", { required: true });
    });
</script>
<body class="bgEntrar">
    <div class="Main-agile">
        <!-- banner -->
        <div class="bannerEntrar">
            <div class="container">
                <div class="col-md-4 agile1">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                            <nav class="stroke">
                                <ul class="nav navbar-nav">
                                    @if (ViewBag.Logado == null)
                                    {

                                        <li class="entrar"><a href="~/Entrar/Cadastrar" style="text-shadow: 2px 1px 0px #000000">Entrar</a></li>

                                    }
                                    @if (ViewBag.Logado != null)
                                    {

                                        <li class="active"><a href="~/Perfil/IndexPerfil" style="text-shadow: 2px 1px 0px #000000">Perfil</a></li>
                                        <li><a href="~/Perfil/CardapioV" style="text-shadow: 2px 1px 0px #000000">Cardápio</a></li>
                                    }

                                    <li><a href="~/Home/Index" style="text-shadow: 2px 1px 0px #000000">Home</a></li>
                                    <li><a href="~/Home/Dicas" style="text-shadow: 2px 1px 0px #000000">Dicas</a></li>
                                    <li><a href="~/Home/About" style="text-shadow: 2px 1px 0px #000000">Quem somos</a></li>
                                    <li><a href="~/Home/Contato" style="text-shadow: 2px 1px 0px #000000">Fale conosco</a></li>
                                    @if (ViewBag.Logado != null)
                                    {

                                        <li><a href="~/Entrar/Sair" style="text-shadow: 2px 1px 0px #000000">Sair</a></li>

                                    }
                                </ul>
                            </nav>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
        </div>

    </div>
    <div class="tips w3agile">
        <div class="textoperfil" style="text-shadow: 5px 2px 0px #000000">Perfil</div>

        @if (ViewBag.Logado != null)
        {
            <form action="~/Perfil/Editar_Perfil" method="post" enctype="multipart/form-data">
                @* perfil *@
                <div class="perfil">

                    <div class="imagem">
                        <input type="image" title="Editar Informações" id="edit" src="/images/img_users/@ViewBag.Paciente.ImagemPerfil" onmouseover="this.src = '/images/useredit-hover.png'"
                               onmouseout="this.src = '/images/img_users/@ViewBag.Paciente.ImagemPerfil'" class="imgEdit" />
                        <input type="file" name="Imagem" id="img"/>
                    </div>

                    <div class="dadosPessoais">
                        <p style="text-shadow: 2px 1px 0px #000000">Nome: @ViewBag.Paciente.Nome</p>
                        <p style="text-shadow: 2px 1px 0px #000000">E-mail: <input type="text" value="@ViewBag.Paciente.Email" class="editPerfil" name="Email" required /></p>
                        <p style="text-shadow: 2px 1px 0px #000000">CPF: @ViewBag.Paciente.CPF </p>
                        <p style="text-shadow: 2px 1px 0px #000000">Endereço: <input type="text" value="@ViewBag.Paciente.Endereco" class="editPerfil" name="Endereco" required /></p>
                        <p style="text-shadow: 2px 1px 0px #000000">Telefone: <input type="text" id="telefone" value="@ViewBag.Paciente.Telefone" class="editTel" name="Tel" required /></p>

                    </div>

                    <div class="dadosSistema">
                        <p style="text-shadow: 2px 1px 0px #000000">
                            Objetivo:
                            <input type="radio" name="objetivo" id="engordar" value="1" /> <label for="engordar" class="objetivo">Engordar</label>
                            <input type="radio" name="objetivo" id="emagrecer" value="2" checked /> <label for="emagrecer" class="objetivo">Emagrecer</label>
                        </p>
                        <p style="text-shadow: 2px 1px 0px #000000">Peso: <input type="text" id="peso" value="@ViewBag.Paciente.Peso" class="editPeso" name="Peso" required />Kg </p>
                        <p style="text-shadow: 2px 1px 0px #000000">Altura: <input type="text" id="altura" value="@ViewBag.Paciente.Altura" class="editAltura" name="Altura" required />M</p>
                        <p style="text-shadow: 2px 1px 0px #000000">Idade: <input type="text" value="@ViewBag.Paciente.Idade" class="editIdade" name="Idade" maxlength="2" required /></p>
                    </div>
                    <div class="btPerfil">
                    </div>
                    <div class="espaco"> </div>

                </div>
                <div class="btConcluir">
                    <button type="submit" class="btConcluirCSS">Concluir</button>
                </div>
            </form>
        }
        @if (ViewBag.Mensagem != null)
        {
            <div class="alert alert-danger" style="text-align:center">
                <strong>ERRO!</strong> @ViewBag.Mensagem
            </div>
        }
        </div>
        <div class="footer w3ls">
            <div class="container">
                <div class="footer-main">
                    <div class="footer-top">
                        <div class="col-md-4 services-grids">
                            <h3>Curiosidades</h3>
                            <ul>
                                <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a>Buscando o bem estar da sociedade sempre.</a></li>
                                <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a>Nutricionista jovens e experientes ajudando  clientes de qualquer idade</a></li>
                                <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a>Comer saudávelmente é sinônimo de comer bem.</a></li>
                                <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a>Nutricionista de esportes pronto para ajudar no melhor desenvolvimento para seu corpo.</a></li>
                            </ul>

                        </div>


                        <div class="col-md-4 ftr-grid">
                            <div class="logo-fo">
                                <div class="logo-w3l">
                                    <i class="fa fa-heartbeat" aria-hidden="true"></i>
                                </div>
                                <h2><a href="~/Home/Index">Life More<span>Cuide de você</span></a></h2>
                            </div>
                        </div>
                        <div class="col-md-4 ftr-grid fg2">
                            <h3>Nossos endereços</h3>
                            <div class="ftr-address">
                                <div class="local">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="ftr-text">
                                    <p style="text-shadow: 2px 1px 0px #000000">SENAI Zerbini</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="ftr-address">
                                <div class="local">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="ftr-text">
                                    <p style="text-shadow: 2px 1px 0px #000000">+55 19 9 9865 8943</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="ftr-address">
                                <div class="local">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="ftr-text">
                                    <p style="text-shadow: 2px 1px 0px #000000"><a href="mailto:LifeMore@gmail.com">LifeMore@gmail.com</a></p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="right-w3l">
                        <ul class="top-links">

                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    <div class="copyrights">
                        <p style="text-shadow: 2px 1px 0px #000000">&copy; 2017 Life More. Todos os direitos reservados | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
                    </div>
                </div>
            </div>


        </div>


</body>
</html>
